In [ ]:
a=(2,3,5,6)
print(sum(a,3))

19

In [6]:
#passing value by reference
def square(my_list):
    square=[] 
    for i in my_list:
         square.append(i**2)
    return square
list=[33,57,69]
result=square(list)
print(result)

[1089, 3249, 4761]

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
def square(num):
  """this function computes the square of the number."""
  return num**2
object_=square(9)
print("the square of the number is:",object_)

the square of the number is: 81