In [ ]:
d={102:'kumaraa',209:'vicky',206:'looper'}
print(d)
print("1st name is"+d[102])
print("2st name is"+d[209])
print(d.keys())
print(d.values())

{102: 'kumaraa', 209: 'vicky', 206: 'looper'}
1st name iskumaraa
2st name isvicky
dict_keys([102, 209, 206])
dict_values(['kumaraa', 'vicky', 'looper'])

In [ ]:
set1=set()
set2={'james',2,3,'pyro','auto',2,3}
print(set2)
set2.add(10)
print(set2)
set2.remove(2)
print(set2)

{2, 3, 'pyro', 'james', 'auto'}
{2, 3, 'pyro', 10, 'james', 'auto'}
{3, 'pyro', 10, 'james', 'auto'}